
/*  Basic Styling */
body {
    background-color: rgb(68, 66, 66);
    padding: 20px;
    text-align: center;
    min-height: 100vh;
    align-items: center;
    
}

h1, p, h2 {
    color: white;
}

ul{
    list-style-type:none;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.cards{
    transition: transform .6s;
}
.card_inner{
    display: flex;
    justify-content: space-around;
    padding: 2%;
}

.card_main {
    margin: 25px;
    align-items: center;
    background-color: rgb(116, 116, 209);
}
.one{background-color: rgb(15, 109, 15, 1);}
.two{background-color: rgb(204, 214, 28, 1);}
.three{background-color: rgb(222, 147, 17, 1);}
.four{background-color: rgb(116, 116, 209);}
.five{background-color: rgb(232, 180, 91, 1);}

.card_name{
    font-size: 20px;
    font-weight: bold;
}

.card_name span {
    font-size: 15px;
}

.card_total {
    font-size: 25px;
    font-weight: bold;
}
.country_name{
    font-size: 26px;
    font-weight: 700;
}
.card_description p{
    margin: 5px;
    font-size: 14px;
}
.card_row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}
.card-box{
    width: 20%;
    background: #545454;
    margin: 2%;
    padding: 10px;
    text-align: center;
}
.card_title{
    font-size: 20px;
}

.search_bar input{
    padding: 5px 10px;
    width: 30%;
    font-size: 12px;
}